/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; 
  color: orange; }

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  background-color: white; }

a {
  text-decoration: none; }

/* -------------------------------- 

Main Components 

-------------------------------- */
.cd-header {
  height: 60px;
  width: 90%;
  margin: 0 auto;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }
  .cd-header:after {
    content: "";
    display: table;
    clear: both; }
  .cd-header.nav-is-visible {
    -webkit-transform: translateY(80px);
    -moz-transform: translateY(80px);
    -ms-transform: translateY(80px);
    -o-transform: translateY(80px);
    transform: translateY(80px); }
	
  @media only screen and (min-width: 768px) {
    .cd-header.nav-is-visible {
      -webkit-transform: translateY(120px);
      -moz-transform: translateY(120px);
      -ms-transform: translateY(120px);
      -o-transform: translateY(120px);
      transform: translateY(120px); } }

.cd-logo {
  float: left;
  margin-left: 24px !important;
  margin-top: 28px; }

.cd-3d-nav-trigger {
  position: relative;
  float: right;
  height: 45px;
  width: 45px;
  margin-top: 28px;
  margin-right: 25px;
  /* replace text with background image */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  color: transparent; }
  .cd-3d-nav-trigger span,
  .cd-3d-nav-trigger span::before,
  .cd-3d-nav-trigger span::after {
    /* hamburger icon in CSS */
    position: absolute;
    width: 28px;
    height: 3px;
    background-color: #F58634;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
  .cd-3d-nav-trigger span {
    /* this is the central line */
    top: 21px;
    left: 8px;
    -webkit-transition: background 0.2s 0.5s;
    -moz-transition: background 0.2s 0.5s;
    transition: background 0.2s 0.5s; }
    .cd-3d-nav-trigger span::before, .cd-3d-nav-trigger span:after {
      /* these are the upper and lower lines */
      content: '';
      left: 0;
      -webkit-transition: -webkit-transform 0.2s 0.5s;
      -moz-transition: -moz-transform 0.2s 0.5s;
      transition: transform 0.2s 0.5s; }
    .cd-3d-nav-trigger span::before {
      bottom: 8px; }
    .cd-3d-nav-trigger span::after {
      top: 8px; }
  .nav-is-visible .cd-3d-nav-trigger span {
    /* hide line in the center */
    background-color: rgba(255, 255, 255, 0); }
    .nav-is-visible .cd-3d-nav-trigger span::before, .nav-is-visible .cd-3d-nav-trigger span::after {
      /* keep visible other 2 lines */
      background-color: orange; }
    .nav-is-visible .cd-3d-nav-trigger span::before {
      -webkit-transform: translateY(8px) rotate(-45deg);
      -moz-transform: translateY(8px) rotate(-45deg);
      -ms-transform: translateY(8px) rotate(-45deg);
      -o-transform: translateY(8px) rotate(-45deg);
      transform: translateY(8px) rotate(-45deg); }
    .nav-is-visible .cd-3d-nav-trigger span::after {
      -webkit-transform: translateY(-8px) rotate(45deg);
      -moz-transform: translateY(-8px) rotate(45deg);
      -ms-transform: translateY(-8px) rotate(45deg);
      -o-transform: translateY(-8px) rotate(45deg);
      transform: translateY(-8px) rotate(45deg); }

.cd-3d-nav-container {
  /* this is the 3D navigation container - SMALLER SIZE FIRST */
  position: fixed;
  top: 0;
  left: 0;
  height: 70px; /* GREY AREA OF THE NAV - SMALL SIZE */
  width: 100%;
  background-color: #000000;
  visibility: hidden;
  /* enable a 3D-space for children elements */
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.5s 0s, visibility 0s 0.5s;
  -moz-transition: -moz-transform 0.5s 0s, visibility 0s 0.5s;
  transition: transform 0.5s 0s, visibility 0s 0.5s; }
  .cd-3d-nav-container.nav-is-visible {
    visibility: visible;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform 0.5s 0s, visibility 0.5s 0s;
    -moz-transition: -moz-transform 0.5s 0s, visibility 0.5s 0s;
    transition: transform 0.5s 0s, visibility 0.5s 0s; }
  @media only screen and (min-width: 768px) {
    .cd-3d-nav-container {
      height: 120px; /* GREY AREA OF THE NAV - BIG SIZE */ } }

.cd-3d-nav {
  /* this is the 3D rotating navigation */
  position: relative;
  height: 100%;
  background-color: #96989A; /* Cambiar color menu bg aqui */
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  -o-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s; }
  .cd-3d-nav::after {
    /* menu dark cover layer - to enhance perspective effect */
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(51,51,51); /* Cambiar color de menu en transicion aqui */
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.5s 0s, visibility 0.5s 0s;
    -moz-transition: opacity 0.5s 0s, visibility 0.5s 0s;
    transition: opacity 0.5s 0s, visibility 0.5s 0s; }
  .cd-3d-nav li {
    height: 100%;
    width: 20%;
    float: left; }
    .cd-3d-nav li:first-of-type a::before {
      background-image: url(../img/icon-1.svg); }
    .cd-3d-nav li:nth-of-type(2) a::before {
      background-image: url(../img/icon-2.svg); }
    .cd-3d-nav li:nth-of-type(3) a::before {
      background-image: url(../img/icon-3.svg); }
    .cd-3d-nav li:nth-of-type(4) a::before {
      background-image: url(../img/icon-4.svg); }
    .cd-3d-nav li:nth-of-type(5) a::before {
      background-image: url(../img/icon-5.svg); }
  .cd-3d-nav a {
    position: relative;
    display: block;
    height: 100%;
    color: transparent;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s;
    transition: background-color 0.2s; }
    .cd-3d-nav a::before {
      /* navigation icons */
      content: '';
      height: 48px;
      width: 48px;
      position: absolute;
	  left: 50%;
      top: 50%; /* Posicion de los iconos en el menu 3D pantalla pequena */
      bottom: auto;
      right: auto;
      -webkit-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
      -o-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
	  /*background-size: 32px 64px; OLD */
	  background-size: 48px 48px; /* NEW */
      background-repeat: no-repeat; 
      background-position: 0 0; }
    .no-touch .cd-3d-nav a:hover {
      background-color: #F58634;  /* Cambiar color de menu hover aqui */
	 }
	   
  .cd-3d-nav .cd-selected a {
    background-color: #F58634; } /* Cambiar color de seccion activa aqui */
    .no-touch .cd-3d-nav .cd-selected a:hover {
      background-color: #F58634; }
    .cd-3d-nav .cd-selected a::before {
      background-position: 0 0; }
  .nav-is-visible .cd-3d-nav {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0); }
    .nav-is-visible .cd-3d-nav::after {
      /* menu cover layer - hide it when navigation is visible */
      opacity: 0;
      visibility: hidden;
      -webkit-transition: opacity 0.5s 0s, visibility 0s 0.5s;
      -moz-transition: opacity 0.5s 0s, visibility 0s 0.5s;
      transition: opacity 0.5s 0s, visibility 0s 0.5s; }
  @media only screen and (min-width: 768px) {
    .cd-3d-nav a {
      padding: 4em 1em 0; /* Texto en el nav */
      color: #ffffff;
      font-size: 1.5rem;
      font-weight: 400;
      text-align: center;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
	  /* truncate text with ellipsis if too long */
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
      .cd-3d-nav a::before {
        top: 1em; /* Posicion de los iconos en el menu 3D pantalla mediana */
        left: 50%;
        right: auto;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%); } }

.cd-marker {
  /* line at the bottom of nav selected item */
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 20%;
  background-color: currentColor;
  -webkit-transform-origin: center bottom;
  -moz-transform-origin: center bottom;
  -ms-transform-origin: center bottom;
  -o-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-transform: translateZ(0) rotateX(90deg);
  -moz-transform: translateZ(0) rotateX(90deg);
  -ms-transform: translateZ(0) rotateX(90deg);
  -o-transform: translateZ(0) rotateX(90deg);
  transform: translateZ(0) rotateX(90deg);
  -webkit-transition: -webkit-transform 0.5s, left 0.5s, color 0.5s, background-color 0.5s;
  -moz-transition: -moz-transform 0.5s, left 0.5s, color 0.5s, background-color 0.5s;
  transition: transform 0.5s, left 0.5s, color 0.5s, background-color 0.5s; }
  .cd-marker::before {
    /* triangle at the bottom of nav selected item */
    content: '';
    position: absolute;
    bottom: 3px;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    height: 0;
    width: 0;
    border: 10px solid transparent;
    border-bottom-color: inherit; }
  .nav-is-visible .cd-marker {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0); }

/* these are the colors of the markers - line + arrow - can be multicolor if needed */
.color-1 {
  color: white; }

.color-2 {
  color: white; }

.color-3 {
  color: white; }

.color-4 {
  color: white; }

.color-5 {
  color: white; }

main {
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

  main h1 {
    text-align: center;
    font-size: 2.4rem;
    font-weight: 300;
    color: orange;
    margin: 2em auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

  main.nav-is-visible {
    -webkit-transform: translateY(80px);
    -moz-transform: translateY(80px);
    -ms-transform: translateY(80px);
    -o-transform: translateY(80px);
    transform: translateY(80px); }
	
  @media only screen and (min-width: 768px) {
    main.nav-is-visible {
      -webkit-transform: translateY(170px);
      -moz-transform: translateY(170px);
      -ms-transform: translateY(170px);
      -o-transform: translateY(170px);
      transform: translateY(170px); }

    main h1 {
      font-size: 3.6rem;
      margin: 4em auto; } }

.wrapper {
	width: 90%;
	margin-top: 100px !important;
	
	
	margin-left: 0;
	margin-right: 0;
	margin: auto;
	/*TEST ONLY*/
	/*border: solid;
	border-color: black;*/ 
}

@media only screen and (max-width: 400px) {
  .wrapper {
	width: 100%;
	margin-top: 100px !important;
	margin-left: 30px !important;
	margin-right: 0;
	margin: auto;
}

.cd-3d-nav-trigger {
	margin-right: 22px;
}

.cd-logo {
  margin-left: 40px !important;
}
}

















.cbox {
	position: relative;
	/*display: inline-block !important;*/
	float: left;
	margin-left: 16px;
	margin-bottom: 16px;
	width: 210px;
	height: 200px;
	background: transparent;
	color: #96989A;
	overflow: hidden;
	
	/* BORDER DETAILS */
	/*border: solid thin #C8C8C8;*/
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-o-border-radius: 8px;
	-moz-border-radius: 8px;
	/* TRANSITIONS OUT*/
	transition:background 1s;
    -webkit-transition:background 1s;
    -o-transition:background 1s;
    -moz-transition:background 1s;
	
}

.cbox:hover {
	background: rgb(102,102,102);
	/*opacity: .5;*/

	-webkit-transition: all 1.4s ease;
	color: white;
}	

.cboxcont {
   position: absolute; 
   left: 0px;
   right: 0px;
   top: 10px;
   bottom: 0px;
   overflow: hidden;
}


.cboxcont h4 {
	/* WALLET ADDRESS */
	margin-left: 10px;	
	font-weight: 200;
	font-size: 0.7em;
	line-height: 30px;	
}

.cboxcont h4:hover {
	color: orange;
	cursor: pointer;
}

.cboxcont h3 {
	/* COIN NAME */
	margin-top: 5px;
	margin-left: 10px;	
	font-weight: 200;
	font-size: 1.2em;
	line-height: 20px;
	overflow: hidden;

}



.cboxcont h3:hover {
	/* Line animation B */
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	cursor: default;
}

.cboxcont h2 {
	/* SEND PAYMENT */
	width: 100%;
	margin: 0 auto;
	font-weight: 300;
	text-align:center !important;
	line-height: 65px;
}

.cboxcont h2:hover {
	color: black;
	cursor: pointer;
}

.cboxcont h5 {
	/* BALANCE */
	margin-left: 10px;
	font-weight: 400;
	font-size: 1.8em;
	line-height: 80px;	
}

.cboxcont h5:hover {
	cursor: default;
}



/* ------------ EMERGING MENU - BTCD -------------- */

.cbox:hover .overboxBTCD { opacity: 0.75; }

.cbox .overboxBTCD {
  background-color: #0072F4;
  position: relative;
  top: 0;
  left: 0;
  color: white;
  transition: all .4s ease-out; 
  transform: translateY(200px);
  -webkit-transform: all .4s ease; 
  -webkit-transform: translateY(50px); /* ORIGIN POINT OF BOX */
  opacity: 0;
  width: 100%;
  height: 60px;
}

.cbox:hover .overboxBTCD { 
	opacity: 1;
    transition: all .4s ease-out; 
	transform: translateY(1px);
    -webkit-transform: all .4s ease; 
	-webkit-transform: translateY(1px);
}


.overboxBTCD ul {
	position: relative;
	float: left;
	top: 0;
	left: 0;
	list-style: none;
	/*display: inherit;*/
}

	
.overboxBTCD li:hover {
	cursor: pointer;
}


.overboxBTCD li:first-of-type {
      position: absolute;
	  background-image:url(../img/minicon_btcd.svg);
	  background-repeat: no-repeat; 
	  width: 85px;
	  height: 60px;
	  margin-top: 0px !important;
	  margin-left: 0px !important;
	  opacity: 0.5;
	  -webkit-transition: all .4s ease;	  
}


.overboxBTCD li:first-of-type:hover {
	opacity: 1;
	-webkit-transition: all .4s ease;
}

	  
.overboxBTCD li:nth-of-type(2) {
      position: absolute;
	  background-image: url(../img/minicon_trans.svg); 
	  background-repeat: no-repeat;
	  width: 55px;
	  height: 55px;
	  margin-top: 7px !important;
	  margin-left: 100px !important;
	  opacity: 0.5;
	  -webkit-transition: all .4s ease;
	  
}


.overboxBTCD li:nth-of-type(2):hover {
	opacity: 1;
	-webkit-transition: all .4s ease;
}


.overboxBTCD li:nth-of-type(3) {
      position: absolute;
	  background-image: url(../img/minicon_mailsend.svg);
	  background-repeat: no-repeat; 
	  width: 55px;
	  height: 55px;
	  margin-top: 7px !important;
	  margin-left: 155px !important;
	  opacity: 0.5;
	  -webkit-transition: all .4s ease;	  
}


.overboxBTCD li:nth-of-type(3):hover {
	opacity: 1;
	-webkit-transition: all .4s ease;
}


/* ------------ EMERGING MENU - VRC -------------- */

.bgvrc {
	  background-image:url(../img/bg_vrc.svg);
	  background-repeat: no repeat;
	  -webkit-transition: all .4s ease;
}

.cbox:hover .overboxVRC { opacity: 0.75; }

.cbox .overboxVRC {
  background-color: #418BCA;
  position: relative;
  top: 0;
  left: 0;
  color: white;
  transition: all .4s ease-out; 
  transform: translateY(200px);
  -webkit-transform: all .4s ease; 
  -webkit-transform: translateY(50px); /* ORIGIN POINT OF BOX */
  opacity: 0;
  width: 100%;
  height: 60px;
  /*padding: 15px 20px;*/ /* with this we control the position of the text */
  }

.cbox:hover .overboxVRC { 
	opacity: 1;
    transition: all .4s ease-out; 
	transform: translateY(1px);
    -webkit-transform: all .4s ease; 
	-webkit-transform: translateY(1px);
}


.overboxVRC ul {
	position: relative;
	float: left;
	top: 0;
	left: 0;
	list-style: none;
	/*display: inherit;*/
}

	
.overboxVRC li:hover {
	cursor: pointer;
}


.overboxVRC li:first-of-type {
      position: absolute;
	  background-image:url(../img/minicon_vrc.svg);
	  background-repeat: no-repeat; 
	  width: 85px;
	  height: 60px;
	  margin-top: 0px !important;
	  margin-left: 0px !important;
	  opacity: 0.5;
	  -webkit-transition: all .4s ease;	  
}


.overboxVRC li:first-of-type:hover {
	opacity: 1;
	-webkit-transition: all .4s ease;
}

	  
.overboxVRC li:nth-of-type(2) {
      position: absolute;
	  background-image: url(../img/minicon_trans.svg); 
	  background-repeat: no-repeat;
	  width: 55px;
	  height: 55px;
	  margin-top: 7px !important;
	  margin-left: 100px !important;
	  opacity: 0.5;
	  -webkit-transition: all .4s ease;
	  
}


.overboxVRC li:nth-of-type(2):hover {
	opacity: 1;
	-webkit-transition: all .4s ease;
}


.overboxVRC li:nth-of-type(3) {
      position: absolute;
	  background-image: url(../img/minicon_mailsend.svg);
	  background-repeat: no-repeat; 
	  width: 55px;
	  height: 55px;
	  margin-top: 7px !important;
	  margin-left: 155px !important;
	  opacity: 0.5;
	  -webkit-transition: all .4s ease;	  
}


.overboxVRC li:nth-of-type(3):hover {
	opacity: 1;
	-webkit-transition: all .4s ease;
}




/* ------------ EMERGING MENU - BITS -------------- */

.cbox:hover .overboxBITS { opacity: 0.75; }

.cbox .overboxBITS {
  background-color: orange;
  position: relative;
  top: 0;
  left: 0;
  color: white;
  transition: all .4s ease-out; 
  transform: translateY(200px);
  -webkit-transform: all .4s ease; 
  -webkit-transform: translateY(50px); /* ORIGIN POINT OF BOX */
  opacity: 0;
  width: 100%;
  height: 60px;
  /*padding: 15px 20px;*/ /* with this we control the position of the text */
  }

.cbox:hover .overboxBITS { 
	opacity: 1;
    transition: all .4s ease-out; 
	transform: translateY(1px);
    -webkit-transform: all .4s ease; 
	-webkit-transform: translateY(1px);
}


.overboxBITS ul {
	position: relative;
	float: left;
	top: 0;
	left: 0;
	list-style: none;
	/*display: inherit;*/
}

	
.overboxBITS li:hover {
	cursor: pointer;
}


.overboxBITS li:first-of-type {
      position: absolute;
	  background-image:url(../img/minicon_bits.svg);
	  background-repeat: no-repeat; 
	  width: 85px;
	  height: 60px;
	  margin-top: 0px !important;
	  margin-left: 0px !important;
	  opacity: 0.5;
	  -webkit-transition: all .4s ease;	  
}


.overboxBITS li:first-of-type:hover {
	opacity: 1;
	-webkit-transition: all .4s ease;
}

	  
.overboxBITS li:nth-of-type(2) {
      position: absolute;
	  background-image: url(../img/minicon_trans.svg); 
	  background-repeat: no-repeat;
	  width: 55px;
	  height: 55px;
	  margin-top: 7px !important;
	  margin-left: 100px !important;
	  opacity: 0.5;
	  -webkit-transition: all .4s ease;
	  
}


.overboxBITS li:nth-of-type(2):hover {
	opacity: 1;
	-webkit-transition: all .4s ease;
}


.overboxBITS li:nth-of-type(3) {
      position: absolute;
	  background-image: url(../img/minicon_mailsend.svg);
	  background-repeat: no-repeat; 
	  width: 55px;
	  height: 55px;
	  margin-top: 7px !important;
	  margin-left: 155px !important;
	  opacity: 0.5;
	  -webkit-transition: all .4s ease;	  
}


.overboxBITS li:nth-of-type(3):hover {
	opacity: 1;
	-webkit-transition: all .4s ease;
}




/* ------------ EMERGING MENU - OPAL -------------- */

.cbox:hover .overboxOPAL { opacity: 0.75; }

.cbox .overboxOPAL {
  background-color: #484D7D;
  position: relative;
  top: 0;
  left: 0;
  color: white;
  transition: all .4s ease-out; 
  transform: translateY(200px);
  -webkit-transform: all .4s ease; 
  -webkit-transform: translateY(50px); /* ORIGIN POINT OF BOX */
  opacity: 0;
  width: 100%;
  height: 60px;
  /*padding: 15px 20px;*/ /* with this we control the position of the text */
  }

.cbox:hover .overboxOPAL { 
	opacity: 1;
    transition: all .4s ease-out; 
	transform: translateY(1px);
    -webkit-transform: all .4s ease; 
	-webkit-transform: translateY(1px);
}


.overboxOPAL ul {
	position: relative;
	float: left;
	top: 0;
	left: 0;
	list-style: none;
	/*display: inherit;*/
}

	
.overboxOPAL li:hover {
	cursor: pointer;
}


.overboxOPAL li:first-of-type {
      position: absolute;
	  background-image:url(../img/minicon_opal.svg);
	  background-repeat: no-repeat; 
	  width: 85px;
	  height: 60px;
	  margin-top: 0px !important;
	  margin-left: 0px !important;
	  opacity: 0.5;
	  -webkit-transition: all .4s ease;	  
}


.overboxOPAL li:first-of-type:hover {
	opacity: 1;
	-webkit-transition: all .4s ease;
}

	  
.overboxOPAL li:nth-of-type(2) {
      position: absolute;
	  background-image: url(../img/minicon_trans.svg); 
	  background-repeat: no-repeat;
	  width: 55px;
	  height: 55px;
	  margin-top: 7px !important;
	  margin-left: 100px !important;
	  opacity: 0.5;
	  -webkit-transition: all .4s ease;
	  
}


.overboxOPAL li:nth-of-type(2):hover {
	opacity: 1;
	-webkit-transition: all .4s ease;
}


.overboxOPAL li:nth-of-type(3) {
      position: absolute;
	  background-image: url(../img/minicon_mailsend.svg);
	  background-repeat: no-repeat; 
	  width: 55px;
	  height: 55px;
	  margin-top: 7px !important;
	  margin-left: 155px !important;
	  opacity: 0.5;
	  -webkit-transition: all .4s ease;	  
}


.overboxOPAL li:nth-of-type(3):hover {
	opacity: 1;
	-webkit-transition: all .4s ease;
}
